body {
  font-family: 'Roboto Slab', serif;
  font-weight: 100;
  background-image: url('../../img/bg.png');
  font-size: 1em;
}

a {
  color: #95e9c0;
}

a:hover {
  color: #000;
}

#container {
  width: 100%;
  font-size: 2em;
  margin: 0 auto;
}

#container a {
  text-decoration: none;
  border-bottom: 1px dotted #000;
}

.pink {
  color: #ffcadf;
}

.lavender {
  color: #cadfff;
}

.blue {
  color: #cafaff;
}

.orange {
  color: #ffe0b1;
}

.red {
  color: #ffb7b7;
}

#about-div {
  width: 80%;
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
}

ul {
 list-style: none;
 margin-left: 0;
 margin-top: 0;
}

ul li {
  font-size: .8em;
  margin-top: 1%;
}


.divider {
  width: 60%;
  margin-top: 7%;
  margin-bottom: 7%;
  margin-right: auto;
  margin-left: auto;
  border-bottom: 0px dotted #000;
}

#projects-div {
  width: 80%;
  margin-bottom: 5%;
  margin-left: auto;
  margin-right: auto;
}

#projects-div a {
  border: 1px dotted #000;
  text-transform: uppercase;
  font-size: .45em;
  padding: 3px;
}

.about-content {
  font-size: 1.1rem;
  width: 30rem;
}

